{% extends 'base.html' %}
{% block head%}{% endblock %}

{% block body%}
<script>
    function gekiyaba() {
        document.getElementsByName('secretIem')[0].style.display = 'block';
        document.getElementsByName('target')[0].style.display = 'none';
        document.getElementsByName('target')[0].setAttribute("name", "a");
        document.getElementsByName('secretIem')[0].setAttribute("name", "target");
        document.getElementsByName('a')[0].setAttribute("name", "secretIem");
    }

    function listener() {
        document.getElementById('listener').style.display = 'block'
    }
</script>
{% if result == None %}
<div class="tout">
    <div id="presentation" class="maindivs">
        <h2>- EQ cho tai nghe của bạn ! -</h2>
        <p>EQ là cách dễ nhất để cải thiện chất lượng âm thanh của bạn (mà không cần phải ra ngoài mà đi mua tai nghe đắt tiền), nhưng để dùng nó đúng cách không dễ đâu.
            Vì thế, với trang web này, bạn có thể cân bằng thiết bị âm thanh của mình
            về các tiêu chuẩn một cách dễ dàng :D
            Website gốc bởi <a href="https://github.com/Shewiiii">Shewiii</a>, Việt hóa bởi <a href="https://shirayamahikari.io.vn">Hikari</a>
        </p>
        <p class="important">Chú ý nha! EQ này chỉ là tham khảo thôi nhé, bạn có thể chỉnh nó
            theo
            sở thích của mình sau !</p>
        <div style="padding-top: 10px;"></div>
        <p style="font-family: Segoe UI Bold;font-size: large;"> (*≧︶≦))(￣▽￣* )ゞ</p>
        <div style="padding-top: 10px;"></div>
    </div>
</div>
<div style="padding-top: 20px;"></div>
{% endif %}
{% if result != None %}
<div class="maindivs chart">
    <canvas id="myChart"></canvas>
</div>
{% endif %}
{% if result != None %}
<div style="padding-top: 20px;"></div>
<div id="results" class="maindivs">
    <h3 class="r">- Kết quả -</h3>
    <p class="r">EQ {{ iem }} -> {{ target }}</p>
    <div class="flexThing">
        <div class="paraEQ">
            <table class="r paratable">
                <tr>
                    <th>Bộ lọc</th>
                    <th>Tấn số</th>
                    <th>Tăng</th>
                    <th>Giá trị Q</th>
                </tr>
                {% for para in results %}
                <tr>
                    <th>{{ para['type'] }}</th>
                    <th>{{ para['freq'] }}</th>
                    <th>{{ para['gain'] }}</th>
                    <th>{{ para['q'] }}</th>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="buttons">
            <a href="{{url_for('wavelet')}}" download='test' class=" dl">Xuất cho Wavelet/EQapo</a>
            <a href="{{url_for('poweramp')}}" download='test' class="dl">Xuất cho Poweramp</a>
            <a href="{{url_for('parametric')}}" download='test' class="dl" onclick="listener()">Tải Parametric
                EQ</a>
            <p id="listener" class="r rcomment" style="display: none;">Bạn nên xem <a class="link black"
                    href="https://listener800.github.io/5128" target="_blank">cơ sở biểu đồ của Listener</a> và <a
                    class="link black" href="https://github.com/Shewiiii/webEQ/tree/main/frequency_responses"
                    target="_blank">thư mục FRr</a>
                nếu bạn muốn chỉnh sửa thêm ! (mình khuyên á)</p>
            <a onclick="iircopy()" class="dl" id="iir" data-iir="{{ iir }}">Sao chép dãy IIR</a>
        </div>
    </div>
    <div style="padding-top: 40px;"></div>
</div>
{% endif %}
</div>
<div style="padding-top: 50px;"></div>
<div class="maindivs EQdiv">
    <h3>- Thử đi nào ! -</h3>
    <form id="EQform" method="POST" action="{{ url_for('resultsAQ') }}">
        <select name="iem" class="mainSelect">
            <option selected disabled hidden> Chọn thiết bị của bạn </option>
            {% for iem in FRList %}
            <option> {{ iem }} </option>
            {% endfor %}
        </select>
        <h4>EQ to..</h4>

        <select name="target" class="mainSelect">
            <option selected disabled hidden> Chọn một tiêu chuẩn </option>
            {% for target in targetList %}
            <option> {{ target }} </option>
            {% endfor %}
        </select>

        <select name="secretIem" class="mainSelect" style="display: none;">
            <option selected disabled hidden> Chọn một thiết bị khác </option>
            {% for iem in FRList %}
            <option> {{ iem }} </option>
            {% endfor %}
        </select>

        <div style="padding-top: 30px;"></div>
        <h4>- Cài đặt -</h4>
        <div class="flexThing EQoptions">
            <div class="EQoption">
                <p>Số bộ lọc tối đa:</p>
                <select name="filterCount" class="optionSelect">
                    <option value="5"> 5 </option>
                    <option selected="selected" value="10"> 10 </option>
                    <option value="15"> 15 </option>
                    <option value="20"> 20 </option>
                </select>
                <p class="idkSelect">Mặc định: 10</p>
            </div>

            <div class="EQoption">
                <p>Thuật toán AutoEQ</p>
                <select name="algorithm" class="optionSelect">
                    <option selected="selected" value="default"> Mặc định </option>
                    <option value="lochbaum"> Lochbaum </option>
                </select>
                <p class="idkSelect">Mặc định: Mặc định</p>
            </div>

            <div class="EQoption">
                <p>EQ các đỉnh cộng hưởng:</p>
                <select name="EQres" class="optionSelect">
                    <option value="yes"> Có </option>
                    <option selected="selected" value="no"> Không </option>
                </select>
                <p class="idkSelect">Khuyên dùng: Không</p>
            </div>

            <div class="EQoption">
                <p>Chế độ:</p>
                <select name="mode" class="optionSelect">
                    <option selected="selected" value="standard"> Tiêu chuẩn </option>
                    <option value="moondrop"> Moondrop Free DSP </option>
                </select>
                <p class="idkSelect">Mặc định: Tiêu chuẩn</p>
            </div>
        </div>
        <p id="eqWarningAQ" class="warning" style="display: none;">Lưu ý: Sẽ giảm EQ trên 10kHz để tránh sai sót
            (nó là tính năng đấy). </p>
        <p id="eqWarningLO" class="warning">Lưu ý: Sẽ EQ các đỉnh cộng hưởng nếu có. Hãy chỉnh lại âm cao cho từng tai nhé ! </p>
        <button id="goButton" type="submit" class="generateButton">Go !</button>
    </form>
    <div id="gekiYabaSecretFeature">
        <p style="text-align: left;" onclick="gekiyaba()">|∀・)</p>
    </div>
    <div class='maindivs hint' style="text-align: left;">
        <h4 style="margin: 0;">Gợi ý:</h4>
        <h5>- Tai nghe chụp tai / trên tai -</h5>
        <p><strong>SoundGuys Target</strong>: Một sự cân bằng giữa trung lập và vui vẻ (khuyên dùng)</p>
        <p><strong>5128 DF</strong>: Trung lập cho loại tai nghe này</p>
        <h5>- IEMs / TWS -</h5>
        <p><strong>SoundGuys Target</strong>: Một sự cân bằng giữa trung lập và vui vẻ (khuyên dùng)</p>
        <p><strong>Shewi Target</strong>: Tiêu chuẩn hình chữ U thiên về kỹ thuật và sự đắm chìm. Sự lựa chọn cá nhân của mình.
            Mình đã thử kết hợp các dãy âm giữa của U6t với âm trầm và âm cao của Storm. Lưu ý rằng bạn
            nên chỉnh lại EQ bằng tay để mang lại kết quả tốt nhất.
        </p>
        <p><strong>JM-1</strong>: Trung lập cho IEMs</p>
        <p><strong>Harman Beta (2024)</strong>: Nếu bạn muốn chất âm giống với AutoEQ nhưng mà chính xác hơn.</p>
        <h5>- Cài đặt -</h5>
        <p><strong>Độ nghiêng</strong>: Độ nghiêng càng nhiều, âm thanh càng 'tối' hơn. Nếu bạn muốn âm thanh
            sáng hơn, hãy chọn
            -0.8dB/oct.</p>
        <p><strong>Số bộ lọc</strong>: thì như cái tên thôi.</p>
        <p><strong>giảm 3kHz</strong>: Giảm lượng tăng tai nếu âm thanh quá chói.</p>
        <p><strong>EQ các đỉnh cộng hưởng</strong>: Đôi khi trên biểu đồ, bạn có thể thấy tần số giảm xuống khoảng 9kHz và đạt mức cao nhất ở
            khoảng 7kHz. Đó là do
            IEM hoặc TWS tương tác nhiều hơn ở một tần số nhất định với thiết bị đo. Vì vậy, EQing vùng này có thể
            dẫn đến sự cân bằng không chính xác (nếu sự sụt giảm đó là do cộng hưởng). Việc tắt tùy chọn này có thể giúp
            ngăn chặn điều đó.</p>
        <p><strong>Thuật toán</strong>: thuật toán dùng để tạo EQ.</p>
        <ul>
            <li>Lochbaum: EQ gắt hơn. Phù hợp với mục tiêu tốt hơn trên toàn bộ dải tần. Có khả năng tăng
                những mức EQ lên cao nhất hoặc thấp nhất mà bạn không thực sự nghe thấy, vì vậy hãy cẩn thận khi sử dụng nó.</li>
            <li>Mặc định (từ thư viện của AutoEQ): EQ an toàn hơn. Nhanh chóng và có nhiều tùy chỉnh hơn, đồng thời không cần EQ quá nhiều ở trên
                10kHz. Sẽ
                không EQ các đỉnh cộng hưởng theo mặc định.</li>
            <p><strong>Mẹo !</strong>: hãy thử EQ bằng thuật toán và số bộ lọc khác nếu bạn nhận được EQ
                không làm bạn hài lòng.</p>
        </ul>
        <p><strong>Chế độ</strong>: Điều chỉnh EQ được tạo cho phù hợp với một thiết bị cụ thể. Có thể ghi đè các tùy chọn khác.</p>
    </div>
    <div style="padding-top: 50px;"></div>
    <div>
        <img class='targetsimg' src="../static/img/Targets.png">
    </div>

    <div style="padding-top: 50px;"></div>

    <h3>- Một số thông tin ngẫu nhiên -</h3>
    <div style="text-align: left;">
        <h4>Sources :</h4>
        <p><a class="link" href="https://listener800.github.io/5128" target="_blank">Listener</a>,
            <a class="link" href="https://forum.headphones.com/u/resolve/summary" target="_blank">Resolve</a> (trên
            diễn đàn Headphones.com hoặc Youtube),
            <a class="link" href="https://crinacle.com/graphs/iems/graphtool/" target="_blank">Crinacle</a>,
            <a class="link" href="https://www.soundguys.com/" target="_blank">Soundguys</a>.
            Mình cũng sử dụng <a class="link"
                href="https://www.reddit.com/r/headphones/comments/1780005/bk_5128_graph_database/" target="_blank">
            bài đăng tuyệt vời này trên reddit</a> để giúp mình lấy các tần số phản hồi.
        </p>
        <h4>Các mà những EQ này được tạo</h4>
        <p>Tất cả các cấu hình EQ trên trang web này được tạo bằng thư viện AutoEQ Python của Jaakko Pasanen và
            tính năng tự động EQ trên
            nhiều công cụ biểu đồ như <a class="link" href="https://squig.link/" target="_blank">Squiglink</a>, <a
                class="link" href="https://listener800.github.io/5128" target="_blank">cơ sở biểu đồ của Listener</a> hoặc
            <a class="link" href="https://crinacle.com/graphs/iems/graphtool/" target="_blank">Công cự biểu đồ IEF Crinacle </a> của Marshall Lochbaum.
        </p>
        <p> Tất cả được dựa trên <strong>các lần kiểm đo với B&K 5128</strong> hoặc 4620 (không có đầu hoặc thân), bộ
            công cụ căn chỉnh tốt nhất hiện tại.
        </p>
        <h4>Đúng <a class="link" href="https://autoeq.app/" target="_blank">AutoEQ</a> có á, và nó tốt lắm</h4>
        <p>Dự án này được thực hiện nhờ thư viện Python của AutoEQ á ! Trang web đó có RẤT nhiều tính năng
            và mô hình hơn trang web của mình nên rất đáng để xem qua đấy.
        <p>
            Nhưng hãy nhớ rằng <strong>nếu thiết bị của bạn không có sẵn các phép đo với B&K 5128 hoặc 4620, EQ sẽ
                có lẽ
                sẽ có sai sót, đặc biệt là các thiết bị nhét tai</strong>, do trở kháng đầu vào âm thanh
            không chính xác
            mà các thiết bị đo khác có.
        </p>
        <h4>VUI LÒNG đừng có trả tiền cho SoundID/Sonarworks với tai nghe, nó không đáng đâu.</h4>
        <p>Mình có một chút vấn đề với cái phần mềm đó cho tai nghe. Thứ nhất,
            nó là phần mềm trả phí, thứ hai, mình không biết
            bất cứ điều gì về phương pháp EQ của họ. Bạn không biết bộ công cụ họ đang sử dụng, bạn không
             biết (rõ ràng) tiêu chuẩn họ đang sử dụng,
             KHÔNG CÓ GÌ HẾT. Cái mà họ gọi là âm thanh phẳng là dựa trên cái gì? dựa trên nghiên cứu riêng tư của họ à, và mình từ chối trả tiền cho
             một cái gì đó mà minh đã biết, có hết rồi, và còn có thể nhận được miễn phí.
        <p>Mình thực sự nghĩ những gì mình đang nói không phải chỉ để nói với bạn rằng "ồ, trang web của mình thật tuyệt vời". EQ
            sử dụng các phép đo với B&K
            kết hợp với tiêu chuẩn bạn chọn mà bạn
            <strong>hiểu được nó</strong> theo quan điểm của mình là sự lựa chọn hiển nhiên và sẽ dẫn đến những kết quả tốt hơn
             SoundID rất nhiều. Và đoán xem? <strong>Tất cả tần số phản hồi được đo và cấu hình EQ
                được tạo bởi autoEQ và
                được đề xuất ở đây không tốn một xu nào hết</strong>. Bạn chỉ cần sử dụng chúng với bất kỳ phần mềm nào hiện có
            TRÊN
            tab Kết quả (Wavelet và Equalizer APO là những phần mềm miễn phí).
        </p>
        <p>
            Bạn muốn chỉnh lại tiêu chuẩn theo ý muốn của mình? Được thôi ! Tải xuống tệp tần số phản hồi tại <a class="link"
                href="https://github.com/Shewiiii/webEQ/tree/main/frequency_responses" target="_blank">repo của mình</a>,
            nhập nó vào <a class="link"
                href="https://listener800.github.io/5128?share=Custom_Tilt&bass=0&tilt=-1&treble=0&ear=0"
                target="_blank">công cụ biểu đồ của Listener</a> và autoEQ từ đó !
        </p>
        <p>
            Nếu bạn THỰC SỰ muốn cái gì đó tương tự với
            Sonarworks, hãy dùng tiêu chuẩn Harman OE 2015 trên autoEQ với Equalizer APO hoặc Wavelet.</p>
        <h4>Vì sao mình lại làm cái này?</h4>
        <p>Bởi vì mình cũng sử dụng nó cho mục đích cá nhân, và vì nó vui lắm  @w@</p>  <!--and so do translating this :))-->
        <p>Động lực của mình là tạo ra trang web "AutoEQ" của riêng mình, nhưng chính xác hơn (vì mọi EQ được tạo đều dựa trên
            phép đo với 5128) và với vẻ ngoài phù hợp với mình hơn!</p>
            <h4>Thông số của EQ</h4>
            <p>Mình đang cố gắng EQ lên đến 20khz, vì con 5128 đủ chính xác để cho phép EQ toàn dải âm thanh.
                <br><strong>Tuy nhiên</strong>, bạn nên lưu ý rằng tai của chúng ta đều khác nhau, do đó tần số
                phản hồi
                bạn thực sự sẽ nghe thấy sẽ khác biệt đáng kể so với âm thanh đo được trên 5128. Đó là lý do tại sao bạn
                PHẢI
                EQ từng tai luôn nếu bạn thấy có gì đó không ổn.</strong></p>
            <p>
                Đặc biệt trên tai nghe chụp tai / trên tai, tần số phản hồi thay đổi rất nhiều tùy theo vị trí. Đây là một cái gì đó bạn
                nên cân nhắc khi EQing cũng như nói chung khi bạn xem biểu đồ tần số phản hồi.
            </p>
    </div>
</div>
<div style="padding-top: 250px;"></div>
<p style="text-align: center;color: var(--secondary3);font-family: Segoe UI Bold;font-weight: bold;">
    かえるぴょこぴょこみぴょこぴょこ
    (/・ω・)/</p>
<script>
    var algoSelect = document.getElementsByName('algorithm')[0]
    let algorithm = algoSelect.value

    let modeSelect = document.getElementsByName('mode')[0]
    let eqresSelect = document.getElementsByName('EQres')[0]
    let goButton = document.getElementById('goButton')
    let EQform = document.getElementById('EQform')
    let eqWarningAQ = document.getElementById('eqWarningAQ')
    let eqWarningLO = document.getElementById('eqWarningLO')

    function changeToLoch() {
        modeSelect.disabled = true;
        eqresSelect.disabled = true;
        modeSelect.value = 'standard';
        eqresSelect.value = 'yes';
        goButton.type = ''
        EQform.action = '/lochbaum'
        eqWarningAQ.style.display = 'none'
        eqWarningLO.style.display = 'block'
    }

    if (algorithm == 'lochbaum') {
        changeToLoch()
    } else if (algorithm == 'default') {
        eqWarningAQ.style.display = 'block'
        eqWarningLO.style.display = 'none'
    }


    function algoChange() {
        var selected = this.value
        console.log(selected);
        if (selected == 'lochbaum') {
            changeToLoch()
        }
        else if (selected == 'default') {
            eqresSelect.disabled = false;
            eqresSelect.value = "no"
            modeSelect.disabled = false;
            goButton.type = 'submit';
            eqWarningAQ.style.display = 'block';
            eqWarningLO.style.display = 'none';
            EQform.action = '/resultsAQ';
        }
    }

    document.getElementsByName('algorithm')[0].onchange = algoChange;
</script>
{% if result != None %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function iircopy() {
        var copyText = document.getElementById('iir').dataset.iir
        navigator.clipboard.writeText(copyText);
    }


    const myChart = document.getElementById('myChart').getContext("2d");

    var iem = {{ iem | tojson }};
    var target = {{ target | tojson }};

    var gains = {{ gains | tojson }};
    var frequencies = {{ frequencies | tojson }};
    var Tgains = {{ Tgains | tojson }};
    var newgains = {{ newgains | tojson }};

    var gradient = myChart.createLinearGradient(0, 0, 0, 600);
    gradient.addColorStop(0, 'rgba(81, 58, 197, 1)');
    gradient.addColorStop(1, 'rgba(0, 0, 0,0)');

    var gradient2 = myChart.createLinearGradient(0, 0, 0, 600);
    gradient2.addColorStop(0, 'rgba(51, 51, 51, 1)');
    gradient2.addColorStop(1, 'rgba(0, 0, 0,0)');

    new Chart(myChart, {
        type: 'line',
        data: {
            labels: frequencies,
            datasets: [
                {
                    data: newgains,
                    label: iem + ' EQ',
                    borderColor: "#684EEB",
                    fill: true,
                    backgroundColor: gradient,
                },
                {
                    data: gains,
                    label: iem + ' Stock',
                    borderColor: "#333333",
                    fill: true,
                    backgroundColor: gradient2,
                },
                {
                    data: Tgains,
                    label: target,
                    borderColor: "#877CC1",
                    fill: false,
                    borderDash: [5, 5],
                }]
        },
        options: {
            maintainAspectRatio: false,
            interaction: {
                mode: 'x',
            },
            elements: {
                point: {
                    radius: 0
                }
            },
            responsive: true,
            title: {
                display: true,
                text: 'Frequency Response Graph'
            },
            scales: {
                x: {
                    type: 'logarithmic',
                    ticks: {
                        color: "#f5f5ff",
                        beginAtZero: true,
                        font: {
                            family: "Poppins",
                            size: 13,
                        },
                    },
                    grid: {
                        display: true,
                        color: "#312f42",
                    },
                    min: 20,
                    max: 20000,
                    title: {
                        display: true,
                        color: "#f5f5ff", //texte ?
                        text: "Frequency (Hz)",
                        font: {
                            family: "Poppins",
                            size: 10,
                        },
                    },
                },
                y: {
                    grid: {
                        display: false,
                    },
                    ticks: {
                        color: "#f5f5ff", //texte ?
                        beginAtZero: true,
                        font: {
                            family: "Poppins",
                            size: 13,
                        },
                    },
                    min: 50,
                    max: 80,
                    title: {
                        display: true,
                        color: "#f5f5ff", //texte ?
                        text: "Gain (dB)",
                        font: {
                            family: "Poppins",
                            size: 10,
                        },
                    },
                },

            },
            plugins: {
                legend: {
                    labels: {
                        color: "#FFFFFF",
                        font: {
                            family: "Poppins",
                            size: 15,
                        }
                    }
                },
                tooltip: {
                    intersect: false
                }
            }
        }
    });
</script>
{% endif %}


{% endblock %}